/build/
/data/
.gradle/
.settings/
script/0-outlinks-relevance/1-outlinks-relevance/OutlinksRelevance/
script/0-outlinks-relevance/2-merge-files/pageData/
script/1-change-rate/input-data/
script/1-change-rate/1-url/ChangeRateUrl/*
script/1-change-rate/1-url/ChangeRateUrlSorted/*
script/1-change-rate/2-site/ChangeRateSite/*
script/1-change-rate/2-site/ChangeRateSiteSorted/*
script/1-change-rate/3-domain/ChangeRateDomain/*
script/3-stability/1-url/StabilityUrl/*
script/3-stability/1-url/StabilityUrlSorted/*
script/3-stability/2-site/StabilitySite/*
script/3-stability/2-site/StabilitySiteSorted/*
script/3-stability/3-domain/StabilityDomain/*
script/**/input-data/
script/**/**/input-data/
script/**/**/**/input-data/
script/cat_files.sh




